.mid-bulb.red-bulb {fill:url(#mid-bulb-red-bulb);}
.mid-bulb.orange-bulb {fill:url(#mid-bulb-orange-bulb);}
.mid-bulb.blue-bulb {fill:url(#mid-bulb-blue-bulb);}
.mid-bulb.yellow-bulb {fill:url(#mid-bulb-yellow-bulb);}
.mid-bulb.green-bulb {fill:url(#mid-bulb-green-bulb);}
.long-bulb.red-bulb {fill:url(#long-bulb-red-bulb);}
.long-bulb.orange-bulb {fill:url(#long-bulb-orange-bulb);}
.long-bulb.blue-bulb {fill:url(#long-bulb-blue-bulb);}
.long-bulb.yellow-bulb {fill:url(#long-bulb-yellow-bulb);}
.long-bulb.green-bulb {fill:url(#long-bulb-green-bulb);}
.short-bulb.red-bulb {fill:url(#short-bulb-red-bulb);}
.short-bulb.orange-bulb {fill:url(#short-bulb-orange-bulb);}
.short-bulb.blue-bulb {fill:url(#short-bulb-blue-bulb);}
.short-bulb.yellow-bulb {fill:url(#short-bulb-yellow-bulb);}
.short-bulb.green-bulb {fill:url(#short-bulb-green-bulb);}
.glow {filter:url(#red-glow);  transform: translateZ(0);will-change: transform;}
.green-bulb{animation: flicker 5s infinite step-end;}
.yellow-bulb{animation: flicker 5s infinite 1s step-end;}
.red-bulb{animation: flicker 5s infinite 2s step-end;}
.blue-bulb{animation: flicker 5s infinite 3s step-end;}
.orange-bulb{animation: flicker 5s infinite 4s step-end;}

@keyframes flicker {
    0%    { opacity: 1; }
    50%   { opacity: 0.4; }
    100%    { opacity: 1; }
}
